body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

main{
	display: block;
}

*{
	box-sizing: border-box;
}

h1 {
  font-size: 1.75rem;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.25rem;
  }
}